<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
   
  </configSections>
  <appSettings>
    <add key="sql" value="SELECT * FROM DiffExport"/>
    <add key="lastColumnName" value="jsonCourses"/>
    <add key="jsonColumnKeyword" value="json"/>
    <add key="finalFilePath" value="C:\\CampusLogic\\ArizonaExport.csv"/>
    <add key="commandTimeout" value="600"/> <!--10 minutes-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
    <add name="IntendedServer" connectionString="Data Source=10.128.185.142;Initial Catalog=EPM_EXTRACT;Integrated Security=True;Connection Timeout=600;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
   
</configuration>